
html { overflow-y: scroll; }

h2 { color: #0088cc }
h1, h3, h4 { color: #133346; }
footer {
    background-color: #1585d2ff;
    border-radius: 10px; 
    padding: 20px; 
  }
  
  footer a {
    color: white; 
  }


/* Float three columns side by side */
.column {
  object-fit: contain; 
  float: left;
  width: 33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: "inline";
  clear: both;
}



/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

